* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* center login */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* login */
.login-box {
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

/* layout */
.container {
  width: 90%;
  margin: auto;
  padding-top: 40px;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* user profile */
.user-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-box img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.user-box span {
  font-weight: bold;
}

/* inputs */
input {
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
  border: none;
  outline: none;
}

/* buttons */
button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #22c55e;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
}

.edit {
  background: #3b82f6;
}

.delete {
  background: #ef4444;
}

/* table */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #334155;
}

tr:hover {
  background: #1e293b;
}